@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4E4F4E;
  border-radius: 10px;
}

#loginphone:focus, #loginpassword:focus {
  outline: none;
}
#loginphone, #loginpassword {
  --color: #F5F5F5;
  box-shadow: 5px 5px 7px -3px var(--color);
  transition: box-shadow 0.25s;
}
#profilefirst:focus, #profilelast:focus {
  outline: none;
}

#profilefirst, #profilelast {
  --color: #F5F5F5;
  box-shadow: 5px 5px 7px -3px var(--color);
  transition: box-shadow 0.25s;
}

#profileexperience {
  --color: #F5F5F5;
  box-shadow: 5px 5px 7px -3px var(--color);
  transition: box-shadow 0.25s;
}